.category-movie{
  background-image: image-url('movie.png');
  background-size:cover;
  height:70vh;
  color:white;
  padding-top:20px;
}

.category-anime{
  background-image: image-url("anime.jpg");
  background-size:cover;
  height:70vh;
  color:white;
  padding-top:20px;
}

.category-music{
  background-image: image-url("music.jpg");
  background-size:cover;
  height:70vh;
  color:white;
  padding-top:20px;
}
.category-book{
  background-image: image-url("book.jpg");
  background-size:cover;
  height:70vh;
  color:white;
  padding-top:20px;
}
.category-other{
  background-image: image-url("cafe.jpg");
  background-size:cover;
  height:70vh;
  color:white;
  padding-top:20px;
}
@media screen and (max-width: 480px){
  .category-movie,.category-anime,.category-music,.category-book,.category-other{
    height:40vh;

  }
}