.search{
  background-image: image-url("willy.jpeg");
  background-size:cover;
  height:70vh;
  color:white;
  padding-top:20px;
}
.user-lists{
  background-image: image-url("yama.png");
  background-size:cover;
  height:70vh;
  color:white;
  padding-top:20px;
}