
.item-show {
  
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.item-box {
  background-color: #FFF;
  width:90vw;
  
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-content{
  display: flex;
}
.good{
  display: flex;
  margin-top:4vh;
  
 
}
.fa-thumbs-up{
  font-size: 25px;
}
.good-btn,.heart{
  margin-left:90px;
}
.item-count{
  margin-left:10px;
  font-size: 18px;
  margin-top:2px;
}
.item-user{
  display:flex;
  
  
}
.profil{
  margin-top:7px;
  width:38.81px;
  height:38.81px;

}


.profile{
  margin-top:7px;

}
.item-user-name{
  font-size:31px;
}
.item-profile{
  margin-right:50vw;
  display: flex;
  flex-direction: column;
  font-size:20px;
  padding:0 20px;
  
  
}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.item-box-img {
  height:45vh;
  width: 50vh;
  
}
.show-category{
  font-size:40px;
}



.edit-btn{
  display:flex;
  margin-top:20px;
}
.item-red-btn {
  text-align: center;
  background-color: orange;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 3.3vw;
  border-radius: 100px;
  text-decoration: none;
}

.item-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 20px 0px;
  padding: 2vh 6vw;
  border-radius: 100px;
  text-decoration: none;
}

.item-explain-box {
  font-size: 18px;
  margin: 40px 0px;
  overflow-wrap: anywhere;
}

.detail-table {
  margin-bottom: 30px;
  width: 110%;
}
tr{
  display: flex;
  flex-direction: column;
}
th{
  color:white;
}

.detail-item {
  width: 45vw;
  height:9vh;
  line-height: 9vh;
  background-color: rgb(105, 168, 228);
  border: 1px solid #dedede;
  font-size: 23px;
  text-align: center;
  margin:0 auto;
  
}

.detail-value {
  width: 45vw;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 18px;
  display:flex;
  margin:0 auto;
}
.item-user-name{
  margin:2.7vh 0 0 0;

}
.detail-text{
  height:25vh;
  overflow: scroll;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.user-profile{
  text-decoration: none;
  margin-top:10px;
  margin-left:20px;
  line-height: 45px;
  width:180px
}




.comment-box {
  width: 40vw;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}

.comment-btn {
  height:35px;
  line-height:35px;
  background-color: rgb(105, 168, 228);
  border: 1px solid rgb(105, 168, 228);
  color: #fff;
  width: 50%;
  font-size:20px;
  height:50px;
  font-weight: bold;
  border-radius: 100px;
  
}



.comment-flag-icon {
  margin: 10px 5px 0 0;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;

}

.change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: #3CCACE;
}

.another-item {
  display: block;
  margin: 30px 0px 8px;
  color: rgb(105, 168, 228);
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}
.comment-box{
  width:45vw;
}
.comment{
  
  height:40vh;
  overflow: scroll;
  border:3px solid black;
}
.comment2{
  
  border:3px solid black;
  height:40vh;
  overflow: scroll;
}
audio{
  display:block;
  width:80%;
  margin:0 auto;
}
.item-price-box{
  width:50vw;
}
.items-comment{
  width:40vw;
  height:10vh;
  font-size: 18px;
}
.sound-comment{
  
  margin:15px auto;
  font-size:17px;
}
.w-comment{
  font-size:18px;
}

.url{
  
  font-size:2vw;
  font-weight: bold;
  text-align:center
}
.item-urll{
  
  font-weight: normal;

}
.text-sound{
  display: flex;
}
.comment-profile{
  display:flex;
  justify-content: center;
}
.name-profile{
  margin-top:14px;
  margin-left:20px;
}
.name-profil{
  margin-top:16px;
  margin-left:16px;
}
.m-comment{
  font-size: 18px;
  margin-top:5px;
}
.user-icon2{
  border-radius: 100px;
  width:35px;
  height:35px;
  margin-left:1vw;
  margin-top:1vh;
}
.message-nickname{
  text-decoration: none;
  font-size:20px;
  
}
.user-icon3{
  border-radius: 100px;
  width:55px;
  height:55px;
  margin-left:1vw;
  margin-top:1vh;
}
.user-icon4{
  border-radius:100px;
  width:55px;
  height:55px;
  margin-right:30px;
  margin-top:2vh;
}
.user-icon5{
  border-radius:100px;
  width:66px;
  height:66px;
  margin-right:30px;
  margin-top:1vh;
}
.name-file{
  margin-top:23px;
  margin-left:12px;
  font-size: 22px;
}
.another-itom{
  font-size:30px;
  color:black;
}

.ii{
  font-size: 37px;
}
