
.user-item{
  background-image: url("/assets/sora.png");
  background-size:cover;
  height:70vh;
  color:white;
  padding-top:20px;
  font-size: 4vw;
}
.follow-list{
  background-image: url("/assets/mati.png");
  background-size:cover;
  height:70vh;
  color:white;
  padding-top:20px;
  font-size: 4vw;
}
.follower-list{
  background-image: url("/assets/mon.png");
  background-size:cover;
  height:70vh;
  color:white;
  padding-top:20px;
  font-size: 4vw;
}
.user-nick{
  font-size: 4vw;
}
.fllowig-btn{
  font-size: 2vw;
  color:white;
  background-color:rgba(180, 50, 78, 0.5);
}
.follow-count{
  font-size: 2vw;
  color:white;
  
}
.follow-btn{
  font-size: 2vw;
  color:white;
  background-color:rgba(8, 72, 192, 0.5);
}
.user_matome{
 width:450px;
 display:flex;
 justify-content: space-around;
 font-size:17px;
 margin:0 auto;
 margin-top:20px;
}
.edit-user{
  font-size: 15px;
  color:white;
}
.sign{
 
  color:white;
	position: absolute;
	left: 10vh;
	top: 9vh;
	z-index: 1;
  
}
.delete-acount{
  margin-top:19px;
  color:red;
}
.form-text{
  font-family: serif;  
	color: white;
	font-size: 1.5vw;
}
.mini-name{
  font-size: 15px;
}

